<h1>New User</h1>
<ul>
  <% @user.errors.full_messages.each do|error| %>
  <li><%= error%></li>
  <%end%>
</ul>

<%= form_for @user do |f|%>
<div class="">
  <%= f.label :first_name%>
  <%= f.text_field :first_name%>
</div>
<div class="">
  <%= f.label :last_name%>
  <%= f.text_field :last_name%>
</div>
<div class="">
  <%= f.label :email%>
  <%= f.email_field :email%>
</div>
<div class="">
  <%= f.label :password%>
  <%= f.password_field :password%>
</div>
<div class="">
  <%= f.label :password_confirm%>
  <%= f.password_field :password_confirmation%>
</div>
<div class="">
  <%= f.submit%>
</div>
<%end%>
